{% extends "bootstrap_5_layout.html" %}
{% set active_page = "book_suggestions_form" %}

{% block content %}
    
    <h2>Welcome to your Book Bestie!</h2>

    <form action="/books/readout" method="POST">
        <br>
        
        <label>Enter a genre or title to search for:</label>
        <input type="text" name="query" placeholder="Insert Text Here">
        
        <br>
        <br>

        <button class="btn btn-primary" class="btn btn-primary btn-sm">Submit</button>
    </form>

{% endblock %}