{% extends "bootstrap_5_layout.html" %}
{% set active_page = "book_suggestions_readout" %}

{% block content %}
    
    <h2>Book Bestie - here are your results!</h2>
    <br>

    <ul>
            <li style="list-style-type:none">
                ====================
            </li>
    </ul>

    <p>Woah! These are are a lot of books. Which one should you start with?</p>
    

    <form action="/books/readout/random" method="POST">
        
        <label>Enter a genre or title to search for:</label>
        <input type="text" name="random" placeholder="yes / no">
        
        <br>
        <br>

        <button class="btn btn-primary" class="btn btn-primary btn-sm">Submit</button>
    </form>


{% endblock %}